* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#f44336, #730228);
    display: flex;
    align-items: center;
    justify-content: center;
}

.selector {
    width: 350px;
}

#SelectField {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#SelectField img {
    width: 12px;
    transition: transform 0.5s;
}

#list {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    overflow: hidden;
}

.options {
    width: 100%;
    padding: 15px 0 15px 70px;
    list-style: none;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}

.options img {
    width: 25px;
    position: absolute;
    top: 12px;
    left: 25px;
}

.options:hover {
    background: rgba(255, 255, 255, 0.7);
}

.hide {
    display: none; 
}

.rotate {
    transform: rotate(180deg);
}
