*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #002339;
    color: #fff;
}
.container{
   margin: 12%;
   width: 90%;
   max-width: 700px;}
.display{
   width: 100%;
   margin-top: 50px;
   margin-bottom: 30px;
   background: white;
   color: #333;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 26px 20px;
   border-radius: 20px;
}

h1{
    font-weight: 500;
    font-size: 45;

}

.container h1 span{
    color: #019f55;
    border-bottom: 4px solid #019f55;

}
.display img{
    width: 30px;
    cursor: pointer;
}
.display input{
   border: 0;
   outline: 0;
   font-size: 24px;
}

.container button img{
    width: 28px;
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 19px;
    cursor: pointer;
}