* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background: #f7edff;
}

.buttons {
    margin: 50px;
}

.buttons button {
    background: #333;
    color: #fff;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#toastBox {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 30px;
}

.toast {
    width: 400px;
    height: 80px;
    background: white;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative;
}

.toast i {
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.toast.error i {
    color: red;
}

.toast.invalid i {
    color: orange;
}

.toast::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100% {
        width: 0;
    }
}

.toast.error::after {
    background: red;
}

.toast.invalid::after {
    background: orange;
}
